

{% extends 'index.html' %}

{% block content %}

<p><b>Екатерина Ферре</b> Таролог - психолог.<b> Практикую квантовую психологию в таро </b><p>	 
<img class="col-md-8 col-sm-12" src="http://centr-taro-ferre.ru/static/images/%D0%B1%D0%B5%D0%B7%20%D0%B8%D0%BC%D0%B5%D0%BD%D0%B8-5822.jpg"></p>
<div class="col-md-12 col-sm-12">		
<b>Чем могу быть полезна?</b>
<p>
1. Таро консультации <b>10000 рублей </b>
</p>
<p>2. Магические ритуалы <b> 20000 рублей </b> </p>
<p>
3. Трансформационная программа <b> 200000 рублей </b> 
</p>
<b> Телефон: 89266750140 </b>
</div>
{% endblock %}
