
{% extends 'index.html' %}

{% block content %}

<li><a href="{{url_for('vokzal')}}">Вокзал для двоих</a></li>
<li><a href="{{url_for('relation')}}">Отношения в паре</a></li>
<li><a href="{{url_for('yesno')}}">Да / Нет</a></li>
<li><a href="{{url_for('keltkrest')}}">Кельтский крест</a></li>
<li><a href="{{url_for('face')}}">Личность</a></li>
<li><a href="{{url_for('choice')}}">Выбор</a></li>
<li><a href="{{url_for('lover')}}">Расклад на любимого</a></li>
<li><a href="{{url_for('man')}}">Что за человек</a></li>


{% endblock %}

