{% extends "index.html" %}
{% block content %}




<div class="card">
  <div class="card-body">
  <form action="/auth/login" method="POST">
    <h1 class="h3 mb-3 fw-normal">Панель авторизации</h1>

    <div class="form-floating">
      <label for="floatingInput">Укажите свою почту</label>
      <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
      
    </div>
    <div class="form-floating">
       <label for="floatingPassword">Пароль</label>
      <input type="password" class="form-control" id="floatingPassword" placeholder="Password" name="password">
     
    </div>
	
{% if error %}
        <p>{{ error }}</p>
            {% endif %}
    <div class="checkbox mb-3">
      <label>
        <input type="checkbox" value="remember-me"> Запомнить меня
      </label>
    </div>
    <button class="btn btn-lg btn-success" onclick="document.location='/reset'" type="button">Сброс пароля</button>

    <button class="btn btn-lg btn-primary" type="submit">Войти</button>
  </form>
  </div>
</div>


<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
{% endblock %}
